.VehiclePage-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;               /* Space between title and cards */
    padding: 1% 1.5%;    /* Overall page padding */
  }

/* DashboardHeader.css */

.title {
  background-color: #f9f9f9;
  padding: 1%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem; /* px-4 equivalent in Bootstrap */
  padding-right: 1.5rem;
}

.title-content {
  flex-grow: 1;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.title-badge {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.4rem;
  font-size: 1rem;
}

.Add-Vehicle-btn {
  border-radius: 100px !important;
  padding-left: 15px !important;
  padding-right: 20px !important;
}

  .btn-3d {
    border-radius: 8px;
    background-color: #0d6efd;
    border: none;
    box-shadow: 0 4px 0 #084298;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
  }
  
  .btn-3d:active {
    box-shadow: 0 2px 0 #084298;
    transform: translateY(2px);
  }

  
  .btn-3d-danger {
    border-radius: 8px;
    background-color: #dc3545;
    border: none;
    box-shadow: 0 4px 0 #a71d2a;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
  }
  
  .btn-3d-danger:active {
    box-shadow: 0 2px 0 #a71d2a;
    transform: translateY(2px);
  }

  
  